<!DOCTYPE html>
<html>
<head>
    <title>Buubuu</title>
    <script type="text/javascript" src="/assets/common.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/common.css"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Buubuu"/>
    <meta property="og:description" content="A simple project to facilitate artists to showcase their work. maybe a little similar to how pixiv works with a few touches to get a different feel in use. This website will be created using Golang and NextJS."/>
    <meta property="og:image" content="http://xfn23pnjq7acxtpo7n6s6kgha4f7fozn26nbigqrrifjrjzjy4jrv6qd.onion/assets/bgp.jpg"/>
</head>
<style type="text/css">
.main {
    text-align: center;
}
.cg_btn {
    padding: 20px;
    width: 300px;
    margin: auto;
}
.idx_btn {
    width: 200px;
    height: 30px;
}
</style>
<body>
    <div class="main">
        <h1>Welcome to Buubuu</h1>
        <div class="cg_btn">
            <a href="/auth/login"><button class="idx_btn">Login</button></a>
        </div>
        <div class="cg_btn">
            <a href="/auth/register"><button class="idx_btn">Register</button></a>
        </div>
    </div>
</body>
</html>
