<!DOCTYPE html>
<html>
<head>
    <title>Buubuu</title>
    <script type="text/javascript" src="/assets/common.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/common.css">
</head>
<style type="text/css">
.main {
    text-align: center;
}
.cg_btn {
    padding: 20px;
    width: 300px;
    border: 1px solid #000;
    margin: auto;
}
.idx_btn {
    width: 200px;
    height: 30px;
}
</style>
<body>
    <div class="main">
        <h1>Welcome to Buubuu</h1>
        <div class="cg_btn">
            <a href="/auth/login"><button class="idx_btn">Login</button></a>
        </div>
        <div class="cg_btn">
            <a href="/auth/register"><button class="idx_btn">Register</button></a>
        </div>
    </div>
</body>
</html>
